@model IEnumerable<TiendaVirtual.Models.StockAlerta>

@{
    ViewBag.Title = "Lista de Pedidos";
}

<br />
<h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
    </svg>
    <strong>Alertas de Stock</strong>
</h2>
<br />
@if (Model != null && Model.Any())
{
    <table class="table mt-3">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().ProductoLibro.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ProductoLibro.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaUltimaAlerta)
                </th>
                <th class="text-center align-middle">
                    @Html.DisplayNameFor(model => model.ReStock)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductoLibro.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductoLibro.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaUltimaAlerta)
                    </td>
                    <td class="text-center align-middle">
                        @if (item.ReStock)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-exclamation-circle-fill text-danger" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                            </svg>
                        }

                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            @Html.ActionLink("Abastecer", "Edit", "Productos", new { id = item.ProductoId }, new { @class = "btn btn-outline-warning btn-sm" })
                            @Html.ActionLink("Detalles", "Details", "Productos", new { id = item.ProductoId, view = "stockalerta" }, new { @class = "btn btn-outline-info btn-sm" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <p>No hay alertas de stocks que se han generado por stock debajo de 2 unidades de productos de libros.</p>    
}